/**
 * Copyright (C) 2011-2012 Paul Wortmann, PhysHex Games, www.physhexgames.co.nr
 * This file is part of "Frost And Flame"
 *
 * "Frost And Flame" is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * "Frost And Flame" is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with "Frost And Flame" If not, see <http://www.gnu.org/licenses/>.
 *
 * @author  Paul Wortmann
 * @email   physhex@gmail.com
 * @website www.physhexgames.co.nr
 * @license GPL V3
 * @date 2011-11-11
 */

//
// The resource header (defines the icon).
//
#include "resource.h"

//
// Version information requires inclusion of either <windows.h> or <winver.h>
//
#include <WinVer.h>

// -------------------------------
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_FLARE_APP_ICON        ICON                    "icon.ico"
A ICON MOVEABLE PURE LOADONCALL DISCARDABLE "icon.ico"

// -------------------------------
//
// Version information 
//

VS_VERSION_INFO VERSIONINFO
  FILEVERSION    0,26,0,0
  PRODUCTVERSION 0,26,0,0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "Comments", "Frost and Flame\0"
            VALUE "FileDescription", "Frost and Flame Action Roleplaying Game\0"
            VALUE "FileVersion", "0, 15, 0\0"
            VALUE "InternalName", "Flare\0"
            VALUE "LegalCopyright", "Paul Wortmann - 2011-2014\0"
            VALUE "OriginalFilename", "frost_and_flame.exe\0"
            VALUE "ProductName", "Frost and Flame\0"
            VALUE "ProductVersion", "0, 26, 0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
		VALUE "Translation", 0x000, 1200
    END
END

